
/* Botones generales en home */
.button-outline {
    display: inline-block;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); 
    border: 1px solid transparent; 
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); 
    transition: all 0.3s ease;
    text-decoration: none !important;
    border: none !important;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.button-outline:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3); 
    border-color: rgba(255, 255, 255, 0.7); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
    transform: translateY(-5px); 
}



@media (max-width: 400px) {
  .button-outline {
      padding: 0.45rem 1.2rem; 
      font-size: 0.8rem;       
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.3); 
  }
}

.card-footer {
  margin-top: 1rem; 
  margin-bottom: 2rem;
}

/* Botones de proyectos en cards */
.project-button-container {
    text-align: left;
    margin-top: 3rem;
    list-style: none;
  }
  
  .project-button {
    margin-top: 5px;
    margin-bottom: 0; 
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6); 
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-self: flex-end; 
    margin-bottom: 1rem; 
  }
  
  .project-button:hover {
    background-color: darkcyan;
  }
  
  .project-button.large {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-top: -1rem;
  }

  select {
		height: 2em;
		font-size: 15px;
	}

  /* Selector de lenguaje */
  .language-selector {
    position: absolute;
    right: 20px;
    top: 30px;
  }

  .language-selector select{
    width: 10em;
    font-size: 10pt;
  }

  ul.actions{
    margin: 0px 0 0px !important;
  }


  .hidden {
    display: none;
  }



  

