#three {
    padding-bottom: calc(5px + var(--base-padding, 0px));
    
  }
  #three h2{
    margin-top: 3rem;
  }
  

  textarea {
    resize: none; 
  }
  
  input{
    font-size: 11pt;
  }

  textarea{
    font-size: 11pt;
  }
