.logo-icons {
    list-style: none;
    padding: 0;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.social-icons li a {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

.social-icons li a:hover {
    color: #5126d5;
    transform: scale(1.1);
}

.social-container.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .social-container.desktop {
        display: none;
    }
    .social-container.mobile {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
