body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  
  #wrapper {
    padding: 1.5em 1em;
  }
  
  .inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1.major {
    font-size: 2em;
    margin-bottom: 0.5em;
    word-wrap: break-word;
    text-align: right;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .card {
    flex: 0 0 25%;
    max-width: 25%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: fit-content;
  }
  
  .card p {
    margin: 0.5rem 0;
    color: black;
    line-height: 1.6;
  }
  
  .swiper-container {
    position: relative;
    max-width: 73%;
    aspect-ratio: 15.6 / 9;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    user-select: none;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    box-shadow: 0 0 10px rgba(42, 82, 190, 0.6);
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
    color: white !important;
  }
  
  .swiper-button-next {
    right: 0px;
  }
  
  .swiper-button-prev {
    left: 0px;
  }
  
  .swiper-pagination-bullet-active {
    background: wheat !important;
  }
  
  @media screen and (max-width: 1680px) {
    .wrapper > .inner {
      padding: 0.7em 0em 1em 0em !important;
    }
  }
  
  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  
    .card {
      flex: 1 1 auto;
      max-width: 100%;
      order: 1;
    }
  
    .swiper-container {
      flex: 1 1 auto;
      max-width: 100%;
      order: 2;
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      width: 30px;
      height: 30px;
    }
  
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 16px;
    }
  }
  